@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap");

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: #976006;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.center-img {
  position: relative;
}

.bg-start-img {
  width: 800px;
}

.bg-light-img {
  width: 800px;
  filter: brightness(140%) contrast(110%);
}

.lightbulb-select {
  position: absolute;
  width: 45px;
  height: 42px;
  height: 45px;
  border-radius: 50%;
  top: 93px;
  left: 377px;
  z-index: 3;
  cursor: pointer;
}

.select-area {
  position: absolute;
  top: 188px;
  left: 310px;
  width: 174px;
  height: 124px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
}

.fill-black {
  position: absolute;
  top: 188px;
  left: 310px;
  width: 174px;
  height: 124px;
  border-radius: 6px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-text {
  font-family: "Press Start 2P", system-ui;
  color: #ffffff;
  background: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.mein-bild {
  width: 220px;

  position: absolute;
  top: -40px;
  left: -25px;
  opacity: 0;
  filter: brightness(0.2) blur(8px) saturate(50%);
  transform: scaleY(0.1) scaleX(1.2);
  transition: opacity 0.3s cubic-bezier(0.4, 2, 0.6, 1) 0.1s,
    filter 0.3s cubic-bezier(0.4, 2, 0.6, 1) 0.1s,
    transform 0.25s cubic-bezier(0.4, 2, 0.6, 1) 0.1s;
  pointer-events: none;
}

.mein-bild.monitor-on {
  opacity: 1;
  filter: brightness(1) blur(0) saturate(50%);
  transform: scaleY(1) scaleX(1);
  transition: opacity 0.2s, filter 0.2s, transform 0.2s;
  pointer-events: auto;
}

.tracking-in-expand {
  font-size: 4rem;
  font-weight: 200;
  font-family: "Fira Code", monospace;
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.job-title {
  font-size: 2rem;
  color: #6a4305;
  font-weight: 400;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .tracking-in-expand {
    font-size: 3rem;
  }
}
